.snowball__wrapper {
  --color-snowball: #fff;
  position: absolute;
  inset: 0;
  min-height: 100vh;
  color: var(--color-snowball);
}

.snowball {
  --duration-down: 6s;
  position: absolute;
  top: 0;
  left: 5%;
  will-change: top, opacity;
  animation: slow-down var(--duration-down) linear infinite;

  & svg {
    filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.25));
  }
}

.snowball:nth-child(2) {
  --duration-down: 8s;
  top: 20%;
  left: 20%;
}

.snowball:nth-child(3) {
  --duration-down: 6s;
  top: 10%;
  left: 50%;
}

.snowball:nth-child(4) {
  --duration-down: 5s;
  top: 0;
  left: 65%;
}

.snowball:nth-child(5) {
  --duration-down: 7s;
  top: 15%;
  left: 80%;
}

.snowball:nth-child(6) {
  --duration-down: 8s;
  top: 15%;
  left: 95%;
}

@keyframes slow-down {
  0% {
    opacity: 25%;
  }

  20% {
    opacity: 50%;
  }

  40% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}