.gifts__list {
  margin-top: 1em;
  display: grid;
  gap: .5em 0;
  text-align: left;
  list-style: none;

  & .gift__empty {
    text-align: center;
    font-weight: 500;
    font-size: .75rem;
    opacity: 70%;
  }
}


.gift {
  display: flex;

  & span {
    width: 100%;
  }

  & button {
    padding: .25em .5em;
    border: 0;
    background-color: rgb(197, 9, 9);
    color: white;
    cursor: pointer;
  }
}
