.app__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 40, 40, 0.5)), url('./assets/christmas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & h1 {
    color: #222;
  }
}

/* Gifts container */
.gifts__info {
  position: relative;
  min-width: 400px;
  padding: 1.5em 2em;
  background-color: white;
  color: #222;
  text-align: center;
  border-radius: .25em;
}

.gifts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.gift__dialog-open {
  width: 100%;
  margin-top: 1em;

  &:hover {
    filter: drop-shadow(2px 0 0.5em #dc143c);
  }
}

.gift__dialog-close {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.preview__title {
  font-size: 1.75rem;
}

.preview__print-btn {
  margin-block-start: 1.25em;
}


/* Delete button */
.gifts__info .gifts__remove {
  width: 70%;
  margin-top: 2em;
  background-color: transparent;
  color: #222;
  border: 1px solid rgb(122, 122, 122);
  transition: all ease-in-out 200ms;
}

.gifts__info .gifts__remove:hover {
  background-color: rgba(220, 20, 60);
  color: white;
}
