

.app__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 40, 40, 0.5)), url('./assets/christmas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gifts__info {
  min-width: 320px;
  padding: 1.5em 2em;
  background-color: white;
  color: #222;
  text-align: center;
}

.gifts__form {
  display: grid;
  grid-template-columns: 150px 150px 50px 100px;
  margin-top: .75em;


  & .gift__input {
    display: inline-block;
    padding: .25em;
  }

  & .gift__add {
    margin-left: .75em;
  }
}


.gifts__remove {
  width: 100%;
  margin-top: 2em;
  padding: .5em .75em;
  border: 0;
  color: white;
  background-color: rgb(197, 9, 9);
  cursor: pointer;
}