

.app__wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 40, 40, 0.5)), url('./assets/christmas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gifts__info {
  padding: 1.5em;
  background-color: white;
  color: #222;
  text-align: center;
}

.gifts__form {
  display: flex;
  margin-top: .25rem;


  & .gift__input {
    padding: .25em;
  }

  & .gift__add {
    padding: .25em .75em;
    margin-left: .75em;
    border: 0;
    background-color: rgb(197, 9, 9);
    color: white;
    cursor: pointer;
  }
}

.gifts__list {
  margin-top: 1em;
  display: grid;
  gap: .5em 0;
  text-align: left;
  list-style: none;
}


.gift {
  display: flex;

  & span {
    width: 100%;
  }

  & button {
    padding: .25em .5em;
    border: 0;
    background-color: rgb(197, 9, 9);
    color: white;
    cursor: pointer;
  }
}

.gifts__remove {
  width: 100%;
  margin-top: 2em;
  padding: .5em .75em;
  border: 0;
  color: white;
  background-color: rgb(197, 9, 9);
  cursor: pointer;
}